.slide img {
  width:597px;
  border:1px solid #c7c7c7;
}
 .inner {
  overflow-y: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
  filter: alpha(opacity=00);
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: margin 500ms linear;
  -moz-transition: margin 500ms linear;
  -ms-transition: margin 500ms linear;
  -o-transition: margin 500ms linear;
  transition: margin 500ms linear;
}
.slide {
  float: left;
  overflow: hidden;
  position: relative;
}
.slide img {
  height: 291px;
}
.slide div {
  font-family:"Myriad Pro";
  color: #fff;
  position: absolute;
  right: 5%;
  width: 70%;
  text-align: right;

}
 .slide div p {
  float: right;
  text-align: left;
  padding: 3px;
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.8);
  font-size:16px;
  font-family:"Myriad Pro";
}
.controls a {
  top: 60%;
  margin-top: -46px;
  display: block;
  text-decoration: none;
  color: #fff;
  *display: none;
  border:1px solid #bfbfbf;
}
.controls a.left {
 background:url(../images/arrow-left.png) 30% 50% no-repeat;
 left: 0px;
 width:40px;
 height:40px;
 position:absolute;
 border:1px solid #bfbfbf;
 border-left:none;
 border-radius:0px  5px 5px 0px;
 background-color:#fff;
}
.controls a.right {
   position:absolute;
   right:0px;
   width:40px;
   height:40px;
   background:url(../images/arrow-right.png) 55% 50% no-repeat;
   border:1px solid #bfbfbf;
   border-right:none;
   background-color:#fff;
    border-radius:5px 0px 0px 5px;
}

.lt-ie9 .full-width p,
.lt-ie9 .full-width .controls a {
  background: url('bg-trans.html') repeat;
  _background: #333;
}
