@charset "utf-8";
/* CSS Document 
	Website: Pabna Polytechnic Institute
	Website-Url:http://pbpibd.com
	Design & Development By: Creative IT LTD.
	Author: Uzzal
	Author-Email: uzzalbd.cit@gmail.com
	Language: Html,Css,Javascript,Jquery,Php,Mysql etc.
	Tags: Pabna, Technicals, Education, Computer, Engineering etc.

*/

html{
	margin:0px;
	padding:0px;
	}

*{
	margin:0px;
	padding:0px;
	outline:0px;
	}

img{
	border:0px;
	}
	
ul, ol{
	list-style-type:none;
	}
	
.clr{
	clear:both;
	}

a{
	text-decoration:none;
	}
	
@font-face {
    font-family: robotobold;
    src:url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto;
    src:url(../fonts/Roboto-Regular.ttf);
}
	
body{
	font-family:"Myriad Pro";
	font-size:14px;
	color:#4a4949;
	font-weight:normal;
	}
	
.full_wrapper{
	width:100%;
	}
	
.wrapper{
	width:960px;
	margin:0px auto;
	}	

/*header code start*/

header{
	width:100%;
	}
	
.head_bgc{
	background:url(../images/hebanner11.jpg) left top no-repeat;
	}
	
.logo{
	margin:12px 22px 13px 15px;
	float:left;
	}

.head_text{
	float:left;
	width:493px;
	
	}
	
.head_text h3{
		font-family:robotobold;
		font-size:30px;
		text-transform:uppercase;
		padding-top:25px;
		color:#ffffff;
		text-shadow:0px 0px 5px #000;
	}
	
.search_part{
	width:264px;
	float:right;
	border:1px solid #f88c00;
	height:25px;
	margin-top:58px;
	}
/*	
	
.tsearch{
	width:212px;
	height:23px;
	border:0px;
	padding:0px;
	margin-top:-1px;
	box-shadow:inset 0px 0px 7px #ddd;
	padding-left:15px;
	font-size:12px;
	line-height:23px;
	overflow:hidden;
	}
	
#gsub{
	border:0px;
	height:25px;
	border-left:1px solid #f88c00;
	width:36px;
	margin:0px;
	padding:0px;
	margin-left:-2px;
	background:url(../images/bg_green1.jpg) left top repeat-x;
	color:#fff;
	font-family:robotobold;
	cursor:pointer;
	}
*/
.search_part{
	width:264px;
	float:right;
	border:1px solid #f88c00;
	height:25px;
	margin-top:58px;
	position:relative;
	background-color:#f7f7f7;
	}
	
.tsearch{
	width:212px;
	height:23px;
	border:0px;
	box-shadow:inset 0px 0px 7px #ddd;
	padding-left:15px;
	font-size:12px;
	line-height:25px;
	position:absolute;
	}
	
#gsub{
	border:0px;
	height:25px;
	border-left:1px solid #f88c00;
	width:36px;
	margin-left:-2px;
	background:url(../images/bg_green1.jpg) left top repeat-x;
	color:#fff;
	font-family:robotobold;
	cursor:pointer;
	position:absolute;
	right:0px;
	top:0px;
	}
	
.headonly{
	width:100%;
	margin-top:-6px;
	}
	
/*nav code start*/

.navonly{
	width:100%;
	}
	
nav{
	width:100%;
	overflow:hidden;
	box-shadow:inset 0px -6px 2px #DFDFDF;
	}
	
.menu{
	width:958px;
	background-color:#f88c00;
	transition:all linear 0.5s;
	margin-top:6px;
	border-bottom:5px solid #7cc613 !important;
	}
	
.menu > ul{
	margin-left:20px;
	z-index:10;
	float:left;
	}
	
.menu > ul > li{
	float:left;
	border-right:1px solid #fff;
	}
	
.menu > ul > li:last-child{
	border-right:0px!important;
	}
	
.menu > ul > li a{
	line-height:47px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#fff;
	font-size:14px;
	text-transform:uppercase;
	display:block;
	padding:0px 20px;
	margin-top:-6px;
	padding-top:6px;
	transition:all linear 0.7s;
	}
	
.menu > ul > li.ddown  a{
	padding:0px 30px 0px 15px;
	line-height:47px;
	margin-top:-6px;
	padding-top:6px;
	}
	
.menu > ul > li.ddown > span > a{
	background:url(../images/arrowdrop.png) 95% 60% no-repeat;
	}

	
.menu > ul > li > a img{
	padding-top:5px;
	margin-bottom:-5px;
	}
	
.menu > ul > li > a:hover{
	background-color:#7cc613;
	z-index:20;
	box-shadow:0px 0px 3px #7cc613;
	}
.menu > ul > li.active > a{
	background-color:#7cc613;
	z-index:20;
	box-shadow:0px 0px 3px #7cc613;
	}
	
.menu > ul > li.active > span > a{
	background-color:#7cc613;
	z-index:20;
	box-shadow:0px 0px 3px #7cc613;
	}
	
.menu > ul > li > ul{
	position:absolute; 
	display:none; 
	z-index:999999;
	background-color:#f88c00;
	margin-top:5px;
	}
.menu > ul > li > ul > li a{ 
	line-height:30px!important;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#fff;
	padding:0px 12px;
	margin-top:-6px;
	padding-top:6px;
	font-size:11px;
	text-transform:uppercase;
	display:block;
	border-bottom:2px solid #fff;
	 }
	 
.menu > ul > li > ul > li:last-child > a{
	border-bottom:none;
	}
	 
.menu > ul > li > ul > li> a:hover{
	background-color:#7cc613;
	z-index:20;
	box-shadow:0px 0px 3px #7cc613;
	}
button.setti{
	float:right;
	width:42px;
	background-color:#7cc613!important;
	display:block;
	border:0px;
	height:47px;
	cursor:pointer;
	}
	
/*content_part code start*/

.content_part{
	width:100%;
	margin-top:29px;
	padding-bottom:70px;
	border-bottom:1px solid #7cc613;
	}
	
.content{
	width:641px;
	float:left;
	}
	
.sidebar{
	width:293px;
	float:right;
	}
	
/*banner_part code start*/

.banner_part{
	width:100%;
	background:url(../images/bgppi1.jpg) left top;
	float:left;
	height:339px;
	}
	
.banner{
	width:597px;
	border:8px solid #fff;
	margin:14px;
	float:left;
	overflow:hidden;
	position:relative;
	}
	
.banner img{
	width:595px;
	border:1px solid #c7c7c7;
	}
	
/*rrs_part code start*/

.rrs_part{
	width:100%;
	float:left;
	margin-top:26px;
	}
	
.rrs_inner{
	width:611px;
	margin:0px auto;
	border:1px solid #c5cccc;
	}
	
.rone{
	width:202px;
	border-right:1px solid #c5cccc;
	float:left;	
	}
	
.rone_inner{
	width:97px;
	margin:23px auto;
	display:block;
	}

.rone_inner h2{
	font-family:robotobold;
	font-size:14px;
	color:#67b80d;
	font-weight:normal;
	line-height:30px;
	width:72px;
	}
	
.rone_inner h2 span.resu{
	background:url(../images/sun.png) 0% 60% no-repeat;
	padding-left:25px;	
	}
	
.rone_inner h2 span.rout{
	background:url(../images/routine.png) 0% 60% no-repeat;
	padding-left:25px;	
	}
	
.rone_inner h2 span.slly{
	background:url(../images/syllabus.png) 0% 60% no-repeat;
	padding-left:25px;	
	}

	
.rone_inner a{
	height:23px;
	width:95px;
	background:url(../images/bg_button.png) left top repeat-x;
	border:1px solid #bee389;
	display:block;
	line-height:23px;
	color:#fff;
	text-align:center;
	font-weight:bold;
	font-family:roboto;
	margin-top:15px;
	transition:all linear 0.5s;
	}
	

	
.rone_inner:hover h2 span {
	transform:rotate(360);
	}
	
.rone_inner a:hover{
	background:#003;
	box-shadow:0px 0px 5px #003;
	border:1px solid #003;
	}
	
.borright{
	border-right:0px;
	width:200px;
	}
	
/*welcome_part code start*/

.welcome_part{
	width:100%;
	float:left;
	margin-top:20px;
	}
	
.welcomep{
	width:613px;
	margin:0px auto;
	}
	
.welcomep h2{
	font-family:roboto;
	color:#292929;
	font-size:24px;
	text-transform:uppercase;
	}
	
.welcomep h2 span{
	color:#ff890d;
	}
	
.welcomep p{
	font-family:"Myriad Pro";
	color:#4a4949;
	font-size:14px;
	font-weight:normal;
	text-align:justify;
	padding-top:7px;
	padding-bottom:10px;
	line-height:20px;
	}
	
.welcomep p a{
	color:#7cc613;
	font-size:12px;
	}
	
.pmess{
	width:613px;
	margin:0px auto;
	}
	
.pmess h2{
	font-family:roboto;
	color:#292929;
	font-size:18px;
	text-transform:uppercase;
	padding-top:7px;
	padding-bottom:14px;
	}
	
.pmess h2 span{
	color:#7cc613;
	}
	
.pmess img{
	width:92px;
	height:92px;
	border:2px solid #fff;
	box-shadow:0px 0px 3px #000;
	margin-right:15px;
	float:left;
	}
	
.pmess p{
	font-family:"Myriad Pro";
	color:#4a4949;
	font-size:14px;
	font-weight:normal;
	text-align:justify;
	padding-top:2px;
	padding-bottom:5px;
	line-height:18px;
	}
	
.pmess p a{
	color:#7cc613;
	font-size:12px;
	}
	
.pmess h3{
	font-family:"Myriad Pro";
	color:#7cc613;
	font-size:14px;
	text-transform:uppercase;
	font-weight:bold;
	text-align:right;
	padding-right:40px;
	}
	
.pmess h4{
	font-family:"Myriad Pro";
	color:#ff7b0a;
	font-size:13px;
	text-transform:capitalize;
	font-weight:normal;
	text-align:right;
	padding-right:40px;
	}

.lattest_news_part{
	width:617px;
	padding:15px 12px 0px;
	background:url(../images/bgppi1.jpg) left top;
	margin-top:29px;
	float:left;
	}
	
.lnews_bar{
	width:613px;
	background-color:#fff;
	box-shadow:0px 4px 3px #999;
	padding:2px;
	}
	
.lnewsb_inner{
	width:611px;
	border:1px solid #ffbd85;
	background:url(../images/bg_lnews.jpg) left top repeat-x;
	font-family:roboto;
	text-indent:15px;
	line-height:26px;
	color:#fff;
	font-size:16px;
	display:block;
	}
	
.news_item{
	width:617px;
	margin:0px auto;
	}
	
.news_ones{
	width:137px;
	background-color:#fff;
	float:left;
	margin:17px 15px 15px 0px;
	}
	
.noinn{
	width:121px;
	margin:20px auto;
	}
	
.noinn h2{
	font-family:robotobold;
	color:#ff7b0a;
	font-weight:bold;
	font-size:15px;
	margin:0px!important;
	padding:0px !important;
	line-height:20px;
	text-align:justify;
	}
	
.noinn h2 a{
	font-family:robotobold;
	color:#ff7b0a;
	font-weight:bold;
	font-size:16px;
	margin:0px!important;
	padding:0px !important;
	
	}
	
.noinn h6{
	font-family:robotobold;
	color:#525252;
	font-weight:normal;
	font-size:12px;
	padding-top:10px;
	}
	
.noinn img{
	margin-top:12px;
	-moz-transition:all linear 0.5s;
	-o-transition:all linear 0.5s;
	-webkit-transition:all linear 0.5s;
	-ms-transition:all linear 0.5s;
	transition:all linear 0.5s;
	width:115px;
	height:78px;
	border:2px solid #fff;
	}
	
.noinn img:hover{
	transform:scale(1.5);
	-moz-transform:scale(1.5);
	-o-transform:scale(1.5);
	-webkit-transform:scale(1.5);
	-ms-transform:scale(1.5);
	cursor:pointer;
	box-shadow:0px 0px 3px #999;
	-moz-box-shadow:0px 0px 3px #999;
	-o-box-shadow:0px 0px 3px #999;
	-webkit-box-shadow:0px 0px 3px #999;
	-ms-box-shadow:0px 0px 3px #999;
	}
	
.noinn p{
	font-family:"Myriad Pro";
	font-size:13px;
	color:#3c3c3c;
	text-align:justify;
	}
	
.noinn h5{
	font-family:"Myriad Pro";
	color:#999;
	font-weight:normal;
	font-size:12px;
	padding-top:15px;
	}
	
.noinn h5 span.ekfa{
	padding-left:10px;
	padding-right:10px;
	}
	
.noinn h5 a span.sall{
	color:#eea051;
	transition:all linear 0.5s;
	-moz-transition:all linear 0.5s;
	-webkit-transition:all linear 0.5s;
	-ms-transition:all linear 0.5s;
	-o-transition:all linear 0.5s;
	}
	
.noinn h5 a span.sall:hover{
	color:#66b70d;
	transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	}
	
.marrigh{
	margin-right:0px;
	}
	
/*lasttwo_part code start*/	

.lasttwo_part{
	width:100%;
	float:left;
	background:url(../images/bgppi1.jpg) left top;
	margin-top:28px;
	}
	
.lasttwo_inner{
	width:612px;
	margin:15px auto;
	position:relative;
	}
	
.circular{
	width:267px;
	padding:15px 12px;
	background-color:#FFF;
	border:1px solid #cbcbcb;
	float:left;
	}
.top_gbr{
	width:265px;
	background:url(../images/bg_green1.jpg) left top;
	border:1px solid #bee389;
	line-height:26px;
	color:#ffffff;
	font-family:roboto;
	font-size:16px;
	text-indent:15px;
	-moz-box-shadow:0px 4px 5px #999;
	-webkit-box-shadow:0px 4px 5px #999;
	-o-box-shadow:0px 4px 5px #999;
	-ms-box-shadow:0px 4px 5px #999;
	box-shadow:0px 4px 5px #999;
	}
	
.circular h2{
	font-family:roboto;
	color:#1d1d1d;
	font-size:15px;
	padding:15px 60px 20px 15px;
	text-transform:uppercase;
	}
	
.circular p{
	font-family:"Myriad Pro";
	color:#4d4d4d;
	font-size:12px;
	padding:0px 10px 14px 18px;
	text-align:justify;
	line-height:17px;
	}
	
.circular button{
	font-family:"Myriad Pro";
	color:#7cc613;
	font-size:12px;
	line-height:17px;
	border:0px;
	background:#fff;
	width:150px;
	text-align:left;
	text-indent:15px;
	}
	
.circular button:hover{
	text-decoration:underline;
	cursor:pointer;
	}
	
.circular button span{
	background:url(../images/read-more.png) 100% 70% no-repeat;
	padding-right:20px;
	}
	
.gallery_parts{
	width:267px;
	padding:16px 12px;
	background-color:#FFF;
	border:1px solid #cbcbcb;
	float:right;
	
	}
	
.lubox{
	margin:5px 0px 2px 12px;
	}
	
.lubox1{
	margin:0px 0px 2px 60px!important;
	}
	
.gallery_parts ul{
	padding:12px 0px;
	}
	
.gallery_parts ul li{
	padding-left:12px;
	float:left;
	padding-top:7px;
	}
	
.gallery_parts ul li img{
	border:3px solid #fff;
	-moz-box-shadow:0px 0px 4px #999;
	-o-box-shadow:0px 0px 4px #999;
	-webkit-box-shadow:0px 0px 4px #999;
	-ms-box-shadow:0px 0px 4px #999;
	box-shadow:0px 0px 4px #999;
	-ms-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}
	
.gallery_parts a.loadbu{
	background:url(../images/load_bg.jpg) left top repeat-x;
	line-height:33px;
	border:1px solid #bee389;
	width:131px;
	display:block;
	float:left;
	margin-left:65px;
	color:#fff;
	font-family:roboto;
	text-align:center;
	margin-top:20px;
	}
	
/*sidebar code start*/

.sidebar{
	width:293px;
	float:right;
	}
	
/*notice_board part start*/

.notice_board{
	background:url(../images/bgppi1.jpg) left top;
	padding:10px;
	width:273px;
	height:319px;
        overflow:hidden;
	}
	
.notice_bar{
	width:266px;
	background-color:#fff;
	padding:2px;
	box-shadow:0px 4px 5px #999;
	}
	
.notice_boad_head{
	width:264px;
	border:1px solid #ffb6a3;
	background:url(../images/bg_red.jpg) left top repeat-x;
	line-height:26px;
	color:#fff;
	font-size:14px;
	font-family:roboto;
	text-indent:15px;
	}
	
.main_not_board{
	width:100%;
	background-color:#f8f8f8;
	float:left;
	margin-top:15px;
	}
	
ul.ntab{
	width:100%;
	background:#ff400d;
	margin-left:2px;
	}
	
ul.ntab li{
	float:left;
	}
	
ul.ntab li a{
	line-height:33px;
	background:#ff400d;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	display:block;
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
	padding: 0px 10px;
	border-right:1px solid #ff6a15;
	transition:all linear 0.5s;
	-moz-transition:all linear 0.5s;
	-webkit-transition:all linear 0.5s;
	-o-transition:all linear 0.5s;
	-ms-transition:all linear 0.5s;
	transition:all linear 0.5s;
	}
	
.bornoner{
	border-right:0px!important;
	}
	
	
ul.ntab li.nactive a{
	background:#f8f8f8;
	color:#000;
	}
	
.lats_news_part{
	width:261px;
	margin:0px 5px;
	padding-bottom:20px;
	overflow:hidden;
	max-height:250px;
	background-color:#fff;
	}
	
.wnews_ones{
	width:100%;
	float:left;
	padding:11px 0px;
	border-bottom:2px solid #efefef;
	}
	
.wnews_ones img{
	border:2px solid #fff;
	box-shadow:0px 0px 3px #999;
	-moz-box-shadow:0px 0px 3px #999;
	-o-box-shadow:0px 0px 3px #999;
	-webkit-box-shadow:0px 0px 3px #999;
	-ms-box-shadow:0px 0px 3px #999;
	width:52px;
	height:51px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	margin-right:17px;
	float:left;
	}
	
.wnews_ones h4{
	color:#414040;
	font-family:robotobold;
	font-weight:normal;
	line-height:16px;
	font-size:14px;
	}
	
.wnews_ones h4 a{
	color:#414040;
	font-family:robotobold;
	font-weight:normal;
	line-height:16px;
	font-size:14px;
	}
	
.wnews_ones p{
	color:#c9c9c9;
	font-family:robotobold;
	font-weight:normal;
	line-height:16px;
	font-size:11px;
	padding-top:3px;
	}
	
.lastweek_news_part{
	width:261px;
	margin:0px 5px;
	display:none;
	}
.last2week_news_part{
	width:261px;
	margin:0px 5px;
	display:none;
	}
	
/*side_menu part code start*/

.side_menu{
	background:url(../images/bgppi1.jpg) left top;
	margin-top:23px;
	padding:10px;
	width:273px;
	}
	
.side_menu_inner{
	width:100%;
	background-color:#fff;
	padding-bottom:15px;
	}
	
.vmenu_part{
	padding:2px;
	width:267px;
	box-shadow:0px 4px 5px #999;
	}
	
.vmenu_head{
	background:url(../images/vmenu_bg.jpg) left top repeat-x;
	line-height:26px;
	font-size:16px;
	font-family:roboto;
	text-indent:15px;
	color:#fff;
	}
	
.vmenu{
	width:242px;
	margin:20px auto 0px;
	border:1px solid #e7e7e7;
	overflow:hidden;
	}
	
.vmenu ul{
	}
	
.vmenu ul li{
	}
	
.vmenu ul li a{
	padding-left:10px;
	width:100%;
	line-height:26px;
	border-bottom:1px solid #e7e7e7;
	display:block;
	color:#a3a3a3;
	transition:all linear 0.5s;
	}
	
.vmenu ul li:last-child a{
	border-bottom:none;
	}
	
.vmenu ul li a i{
	padding-right:7px;
	color:#7cc613;
	transition:all linear 0.5s;
	-moz-transition:all linear 0.5s;
	-webkit-transition:all linear 0.5s;
	-ms-transition:all linear 0.5s;
	-o-transition:all linear 0.5s;
	transition:all linear 0.5s;
	}
	
.vmenu ul li a:hover{
	background-color:#7cc613;
	color:#fff;
	}
	
.vmenu ul li a:hover i{
	color:#fff;
	padding-right:15px;
	}
	
.vmenu1 ul li a i{
	padding-right:7px;
	color:#ff7b0a;
}
	
.vmenu1 ul li a:hover{
	background-color:#ff7b0a;
	color:#fff;
	}
	
.vmenu1 ul li a:hover i{
	color:#fff;
	padding-right:15px;
	}
	

	
/*smedia_part code start*/

.smedia_part{
	background:url(../images/bgppi1.jpg) left top;
	margin-top:22px;
	padding:10px;
	width:273px;
	}
	
.smedia_head{
	width:266px;
	background-color:#fff;
	padding:2px;
	box-shadow:0px 4px 5px #999;
	}
	
.smbutt{
	width:264px;
	border:1px solid #ffbd85;
	background:url(../images/bg_mix.jpg) left top repeat-x;
	line-height:26px;
	color:#fff;
	font-size:15px;
	font-family:roboto;
	text-indent:15px;
	display:block;
	}
	
.sm_main{
	width:100%;
	background-color:#ffffff;
	margin-top:13px;
	overflow:hidden;
	}
	
ul.smediai{
	
	}
	
ul.smediai li{
	float:left;
	}
	
ul.smediai li a{
	font-family:"Myriad Pro";
	font-size:14px;
	color:#666666;
	line-height:16px;
	padding-left:9px;
	padding-top:10px;
	padding-bottom:11px;
	display:block;
	border-bottom:1px solid #ededed;
	border-right:1px solid #ededed;
	width:125px;
	}
	
ul.smediai li:nth-child(even) a{
	border-right:none!important;
	width:126px;
	}
	
ul.smediai li a span.irss {
	background:url(../images/rss.jpg) 0% 60% no-repeat;
	padding-left:22px;
	}
	
ul.smediai li a span.iface {
	background:url(../images/facebook.jpg) 0% 60% no-repeat;
	padding-left:22px;
	}
	
ul.smediai li a span.itwit {
	background:url(../images/twitter.jpg) 0% 60% no-repeat;
	padding-left:22px;
	}
	
ul.smediai li a span.iyou {
	background:url(../images/youtube.jpg) 0% 60% no-repeat;
	padding-left:22px;
	}
	
ul.smediai li a span.ifilk {
	background:url(../images/flickr.jpg) 0% 60% no-repeat;
	padding-left:22px;
	}
	
ul.smediai li a span.ishare {
	background:url(../images/share.jpg) 0% 60% no-repeat;
	padding-left:22px;
	}
	
/*yearly Boucure part code start*/
	
.bg_green{
	background:url(../images/bg_green1.jpg) left top repeat-x;
	border:1px solid #bee389;
	}
.bg_redmix{
	background:url(../images/bg_mix.jpg) left top repeat-x;
	border:1px solid #ffcda2;
	}
	
.ybouc{
	width:100%;
	background-color:#ffffff;
	margin-top:13px;
	overflow:hidden;
	}
	
.ybouc img{
	width:73px;
	height:73px;
	border:2px solid #FFF;
	box-shadow:0px 0px 4px #999;
	margin:13px;
	float:left;
	}
	
.ybouc a {
	width:131px;
	background:url(../images/load_bg.jpg) left top repeat-x;
	display:block;
	float:left;
	line-height:33px;
	text-align:center;
	margin-top:36px;
	border:1px solid #bee389;
	color:#fff;
	font-size:15px;
	font-family:roboto;
	}
	
.ucen{
	text-align:center;
	}
	
.downres {
	width:240px;
	background:url(../images/load_bg.jpg) left top repeat-x;
	display:block;
	float:left;
	line-height:31px;
	text-align:center;
	margin-bottom:10px;
	color:#fff;
	font-size:15px;
	font-family:roboto;
	border:1px solid #bee389;
	font-weight:bold;
	transition:all linear 0.5s;
	-moz-transition:all linear 0.5s;
	-webkit-transition:all linear 0.5s;
	-o-transition:all linear 0.5s;
	-ms-transition:all linear 0.5s;
	margin-left:170px;
	
	}
	
	
.downres:hover{
	box-shadow:0px 0px 5px #000;
	-moz-box-shadow:0px 0px 5px #000;
	-webkit-box-shadow:0px 0px 5px #000;
	-o-box-shadow:0px 0px 5px #000;
	-ms-box-shadow:0px 0px 5px #000;
	}
	
.downrou {
	width:440px;
	background:url(../images/load_bg.jpg) left top repeat-x;
	display:block;
	float:left;
	line-height:31px;
	text-align:center;
	margin-bottom:10px;
	color:#fff;
	font-size:15px;
	font-family:roboto;
	border:1px solid #bee389;
	font-weight:bold;
	transition:all linear 0.5s;
	-moz-transition:all linear 0.5s;
	-webkit-transition:all linear 0.5s;
	-o-transition:all linear 0.5s;
	-ms-transition:all linear 0.5s;
	margin-left:80px;
	
	}
	
.sturou{
	background:url(../images/t-next-bg.png) left top repeat-x !important;
	}
	
	
.downrou:hover{
	box-shadow:0px 0px 5px #000;
	-moz-box-shadow:0px 0px 5px #000;
	-webkit-box-shadow:0px 0px 5px #000;
	-o-box-shadow:0px 0px 5px #000;
	-ms-box-shadow:0px 0px 5px #000;
	}
	
/*footer part code start*/

footer{
	width:100%;
	border-top:1px solid #ebebeb;
	background:url(../images/bg_footer.jpg) left top;
	padding-top:40px;
	padding-bottom:15px;
	}
	
.flogo{
	margin-left:66px;
	float:left;
	margin-top:30px;
	}

.fmenu{
	float:left;
	}
	
.fmenu h2{
	font-family:roboto;
	font-size:16px;
	color:#fff;
	line-height:20px;
	}
	
.fmenu ul{
	margin-top:10px;
	}
	
.fmenu ul li{}

.fmenu ul li a{
	color:#fff;
	font-family:roboto;
	font-size:12px;
	}

.fpart1{
	margin-left:85px;
	}
	
.fpart2{
	margin-left:65px;
	}
	
.fpart3{
	margin-left:90px;
	}
	
.fpart4{
	margin-left:65px;
	}
	
.copyri{
	width:100%;
	text-align:center;
	font-family:"Myriad Pro";
	color:#fff;
	font-size:12px;
	line-height:20px;
	padding-top:15px;
	}
	
.copyri a{
	color:#fff;
	text-decoration:underline;
	}
	
/*mission Vision page content*/

.misi_visi_part{
	width:620px;
	padding:12px;
	background:url(../images/bgppi1.jpg) left top;
	float:left;
	}
	
.misi_visi_inner{
	background-color:#FFF;
	float:left;
	}
	
.mvi_part{
	width:616px;
	text-indent:15px;
	line-height:26px;
	color:#fff;
	font-size:16px;
	display:block;
	padding:2px;
	box-shadow:0px 5px 5px #999;
	}
	
.mvi_head{
	width:614px;
	background:url(../images/bg_green1.jpg) left top repeat-x;
	text-indent:15px;
	line-height:26px;
	color:#fff;
	font-size:16px;
	display:block;
	float:left;
	border:1px solid #61b40b;
	font-family:robotobold;
	}
	
.mvi_head1{
	width:616px;
	background:url(../images/bg_lnews.jpg) left top repeat-x;
	text-indent:15px;
	line-height:26px;
	color:#fff;
	font-size:16px;
	display:block;
	float:left;
	border:1px solid #ff6807;
	font-family:robotobold;
	}
	
	
.mvi_content{
	float:left;
	}
	
.mvi_content p{
	margin:25px;
	font-family:roboto;
	color:#003;
	font-size:16px;
	line-height:22px;
	text-align:center;
	font-style:italic;
	}
	
.mvi_content ul{
	padding-top:25px;
	margin-left:35px;
	padding-bottom:40px;
	}
	
.mvi_content ul li{
	font-family:roboto;
	color:#003;
	font-size:14px;
	line-height:22px;
	font-style:italic;
	}
	
.mvi_content ul li span{
	color:#003;
}

.ppi_details_part{
	width:100%;
	text-align:center;
	padding-bottom:20px;
	}
	
.ppi_details_part img{
	margin-top:20px;
	border:4px solid #ddd;
	width:550px;
	}

.ppi_details_part h2{
	font-family:roboto;
	color:#003;
	font-size:22px;
	text-transform:uppercase;
	text-align:left;
	padding-top:10px;
	padding-bottom:10px;
	text-indent:15px;
	}
	
.ppi_details_part h2 span{
	color:#7cc613;
	}
	
.ppi_details_part p{
	font-family:"Myriad Pro";
	padding:5px 15px;
	text-align:justify;
	font-size:14px;
	}
	
.ppi_details_part1{
	width:100%;
	padding-bottom:20px;
	padding-top:10px;
	}
	
.ppi_details_part1 img{
	border:4px solid #ddd;
	width:250px;
	float:left;
	margin:15px 15px 0px 15px;
	}
	
.ppi_details_part1 p{
	font-family:"Myriad Pro";
	padding:5px 15px;
	text-align:justify;
	font-size:14px;
	}
	
.ppi_details_part1 h4{
	text-align:right;
	padding-right:20px;
	font-family:roboto;
	font-size:15px;
	}
	
.ppi_details_part1 h5{
	text-align:right;
	padding-right:20px;
	font-family:roboto;
	}
	
	
.btebsch {
	width:250px;
	background:url(../images/load_bg.jpg) left top repeat-x;
	display:block;
	float:left;
	line-height:31px;
	text-align:center;
	margin:10px 20px;
	color:#fff;
	font-size:15px;
	font-family:roboto;
	border:1px solid #bee389;
	font-weight:bold;
	transition:all linear 0.5s;
	-moz-transition:all linear 0.5s;
	-webkit-transition:all linear 0.5s;
	-o-transition:all linear 0.5s;
	-ms-transition:all linear 0.5s;
	
	}
	
	
.btebsch:hover{
	box-shadow:0px 0px 5px #000;
	-moz-box-shadow:0px 0px 5px #000;
	-webkit-box-shadow:0px 0px 5px #000;
	-o-box-shadow:0px 0px 5px #000;
	-ms-box-shadow:0px 0px 5px #000;
	cursor:pointer;
	}
	
.mmk-table button{
	width:170px;
	background:url(../images/load_bg.jpg) left top repeat-x;
	display:block;
	float:left;
	line-height:31px;
	text-align:center;
	margin:10px 10px;
	color:#fff;
	font-size:12px;
	font-family:roboto;
	border:1px solid #bee389;
	font-weight:bold;
	transition:all linear 0.5s;
	-moz-transition:all linear 0.5s;
	-webkit-transition:all linear 0.5s;
	-o-transition:all linear 0.5s;
	-ms-transition:all linear 0.5s;
	}
	
.mmk-table button:hover{
	box-shadow:0px 0px 5px #000;
	-moz-box-shadow:0px 0px 5px #000;
	-webkit-box-shadow:0px 0px 5px #000;
	-o-box-shadow:0px 0px 5px #000;
	-ms-box-shadow:0px 0px 5px #000;
	cursor:pointer;
	}
	
/*Pop Up Part Code start*/

.popup_part{
	width:900px;
	border:1px solid #264e00;
	border-radius:11px;
	-moz-border-radius:11px;
	-o-border-radius:11px;
	-webkit-border-radius:11px;
	-ms-border-radius:11px;
	box-shadow:0px 0px 5px #264e00;
	position:fixed;
	background-color:#fff;
	left:50%;
	top:30px;
	margin-left:-450px;
	display:none;
	}
.popup_header{
	width:100%;
	background-color:#264e00;
	display:block;
	border-radius:10px 10px 0px 0px;
	-moz-border-radius:10px 10px 0px 0px;
	-o-border-radius:10px 10px 0px 0px;
	webkit-border-radius:10px 10px 0px 0px;
	-ms-border-radius:10px 10px 0px 0px;
	}
	
.popup_header h2{
	line-height:35px;
	text-align:center!important;
	font-family:soliman;
	color:#FFF;
	font-size:22px;
	display:block;
	}
	
.posiicon{
	position:absolute;
	top:-10px;
	right:-10px;
	color:#f00;
	cursor:pointer;
	}
	
.popup_inner{
	width:800px;
	margin:0px auto;
	border-radius:10px!important;
        max-height:500px;
        overflow:auto;
	}
	
.popup_inner table{
	border:1px solid #000;
	}
	
.popup_inner table tr{
	border-bottom:1px solid #e7e7e7;
	}
	
.popup_inner table tr td{
	color:#003;
	line-height:25px;
	font-weight:normal;
	text-align:center;
	}
	
.popup_inner table tr th{
	color:#003;
	background-color:#FF7C0A;
	line-height:30px;
	font-weight:bold;
	font-size:15px;
	}
	
.popup_inner table tr:nth-child(even){
	background-color:#ddd;
	}
	
.popup_inner table tr:nth-child(odd){
	background-color:#f1f1f1;
	}
	
.popup_inner table img{
		transition:all linear 0.5s;
		-moz-transition:all linear 0.5s;
		-o-transition:all linear 0.5s;
		-webkit-transition:all linear 0.5s;
		-ms-transition:all linear 0.5s;
		cursor:pointer;
	}
	
.popup_inner table img:hover{
		transform:scale(2);
		-moz-transform:scale(2);
		-ms-transform:scale(2);
		-o-transform:scale(2);
		-webkit-transform:scale(2);
	}
	
.popup_footer{
	width:100%;
	background-color:#264e00;
	display:block;
	height:35px;
	border-radius:0px 0px 10px 10px;
	}
	
/*Workshop File Download part code start*/

.workshop_menu a{
	width:240px;
	background:url(../images/load_bg.jpg) left top repeat-x;
	display:block;
	float:left;
	line-height:31px;
	text-align:center;
	margin-bottom:10px;
	color:#fff;
	font-size:15px;
	font-family:roboto;
	border:1px solid #bee389;
	font-weight:bold;
	transition:all linear 0.5s;
	-moz-transition:all linear 0.5s;
	-webkit-transition:all linear 0.5s;
	-o-transition:all linear 0.5s;
	-ms-transition:all linear 0.5s;
	margin-left:170px;
	border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-webkit-border-radius:5px;
}
		
.workshop_menu a:hover{
	box-shadow:0px 0px 5px #000;
	-moz-box-shadow:0px 0px 5px #000;
	-webkit-box-shadow:0px 0px 5px #000;
	-o-box-shadow:0px 0px 5px #000;
	-ms-box-shadow:0px 0px 5px #000;
	}
	
.ugall a img{
	transition:all linear 0.5s;
	-moz-transition:all linear 0.5s;
	-o-transition:all linear 0.5s;
	-webkit-transition:all linear 0.5s;
	-ms-transition:all linear 0.5s;
	}

	
.ugall a img:hover{
	transform:scale(2,2);
	-moz-transform:scale(2,2);
	-o-transform:scale(2,2);
	-ms-transform:scale(2,2);
	-webkit-transform:scale(2,2);
	}
	
.presult_board{
	width:100%;
	}
	
.presult_board a{
	text-align:left;
	color:#FF6608;
	font-size:15px;
	text-transform:capitalize;
	text-align:left!important;
	}
	
.presult_board a:hover{
	text-decoration:underline;
	}

/*Contact Page Update*/

.contact_cont{
	width:580px;
	margin:0px auto 10px auto;
	font-family:roboto;
	text-align:center;
	}
	
.contact_cont h2{
	color:#900;
	}
	
.contact_cont i{
	}
	
.contact_cont i strong{
	
	}
	
.contact_cont1{
	width:580px;
	margin:0px auto 15px auto;
	}

table.rtab tr td{
	color:#003;
	font-size:15px;
	}
	
	


	

	
	
	

